<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" ngSrc="assets/images/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Tentang</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Enigma App adalah ...</p>
    <hr>
    <h5>Passing data with event binding</h5>
    <input
    type="text"
    class="form-control"
    placeholder="Masukkan nama anda disini"
    id="name"
    (input)="onKeyPress($event)"
    >

    <p class="mt-5">Nama : {{name}}</p>
  </div>
</div>
