<div class="row mt-5 justify-content-center">
    <div class="col-md-6">
      <div
        *ngIf="alertIsShow"
        class="alert alert-{{alert.status}} "
        role="alert"
        >
        {{alert.text}}
        <button type="button" class="btn btn-close" aria-label="Close" (click)="alertIsShow=false"></button>
      </div>
        <h2 class="text-center">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          <span class="text-secondary m-2">Belum punya akun ?</span> <a routerLink="/auth/register">Register</a>
          </form>
    </div>
  </div>
