<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" ngSrc="assets/images/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Selamat Datang</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to {{title}}</p>
    <hr>
    <h1>Penerapan String Interpolation</h1>
    <p>Expression : {{1 + 1}}</p>
    <p>Array car : {{ cars }}</p>
    <p>Function : {{getTitle()}}</p>
    <p>Object : {{customer.name}}</p>

    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!isDisabled"
      (click)="onClickButton()"
    >
      Get Started
    </button>
    <p class="mt-2">Status Button : {{isDisabled}}</p>
  </div>
</div>
