<h3>Todo Form</h3>
<div class="card">
  <div class="card-body">
    <form action="" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <div class="input-group-text">
          <input
            type="checkbox"
            class="form-check-input"
            aria-label="Checkbox for following text input"
            formControlName="isCompleted"
          >
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Todo Name"
          aria-label="Username"
          aria-describedby="basic-addon1"
          formControlName="name"
        >
        <div *ngIf="isAdded; else notAdded">
          <button type="submit" class="btn btn-outline-primary">
            UPDATE
          </button>
          <button class="btn btn-outline-primary" routerLink="/pages/todo-api">
            NEW
          </button>
        </div>
      </div>
      <ng-template #notAdded>
        <button class="btn btn-outline-primary" type="submit">ADD</button>
      </ng-template>
    </form>
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alertIsShow"  style="margin-top: 10px;">
      <strong>Hore!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="alertIsShow=false"></button>
    </div>
  </div>
</div>
